<title></title>
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&amp;display=swap" rel="stylesheet" />
<div class="outerBox" style="max-width: 500px;padding:50px;margin: 0 auto; background-color: #0f1932; url('images/chart-ic1.png') no-repeat top center;background-size:contain">
<div style=" position: relative;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td style="  text-align: center;"><img height="55" src="http://{{domain}}/media/{{comp_logo}}" style="margin: 0 auto;margin-bottom:15px;" /></td>
		</tr>
	</tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="padding:30px;background-color:#fff;border-radius: 20px;" width="100%">
	<tbody>
		<tr>
			<td style="  text-align: center;">&nbsp;</td>
		</tr>
		<tr>
			<td style="  text-align: center;">
			<h4 style="font-size: 24px; color: #1d2132; margin: 10px 0px; font-family: 'Montserrat', sans-serif;font-weight: 500; border-bottom: 1px solid #f5f2f2;     padding-bottom: 15px;">Hi {{ username }}</h4>
			</td>
		</tr>
		<tr>
			<td>
			<div style="padding: 0px 0; text-align: center;">
			<div style="margin-bottom:0; text-align: center;padding: 10px 10px 10px 10px;">
			<p style="font-size: 14px; color: #1d2132; margin: 0 0 40px; font-family: 'Montserrat', sans-serif;font-weight: 500;">To reset your password click the Button below</p>
			<a href="http://{{domain}}{% url 'trade_admin_auth:admin_confirm_reset' uidb64=uid  token=token%}" style="background: #3bb0ff; border:none; border-radius: 5px;width:250px;display:block;margin:0 auto;color: #fff;font-size: 16px; padding: 15px 13px; font-weight: 500; cursor:pointer; font-family: 'Montserrat', sans-serif; text-decoration: none;margin-bottom: 30px;">Reset Password</a></div>

			<div style="margin: 25px 0;">
			<p style=" font-size: 14px; color: #0f1932;font-family: 'Montserrat', sans-serif;    font-weight: 500;">Thank you for choosing Jason Wellness Site!</p>
			</div>

			<div style="padding-top: 20px; padding-bottom: 20px;    background: #f4f5fa;">
			<p style="font-size: 14px; color: #222; margin: 3px 0 0;font-family: 'Montserrat', sans-serif;    font-weight: 500;">Copyright @ 2022 Jason Wellness All Rights Reserved</p>
			</div>
			</div>
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>