{% extends 'default_theme/base/__base.html' %}
{% load static %} 

{% load form_custom %}


{% block Style_sheets %}

{% endblock Style_sheets %}
{% load widget_tweaks %}

 {% block Content_Area %}
    
    <section class="content">

     
   	 <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">{{ Title}}</h3>
          <div class="box-tools pull-right">
           
          </div>
        </div>
        {% if messages %}
     {% for message in messages %}
     <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
        
         <form role="form" action="" method='post' enctype="multipart/form-data" novalidate ="novalidate">
             {% csrf_token %} 
             {{ form.media }}
        
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              
            


               {% for ind_form in form %}   
                <div class="form-group">
                  <label >{{ind_form.label}}
                    {% if ind_form|req_label  %} <span class="text-danger"> * </span>{% endif %}
                  </label>
                    {%render_field ind_form class+="form-control" placeholder=ind_form.label %}
                    {% if ind_form.errors %}
                    {% for error in ind_form.errors %}
                     <span class="text-danger">* {{ error|escape }} </span>
                    {% endfor %}
                  {% endif %}
                   
                </div>
               {% endfor %}  
                  
             
            </div>
            <
            <div class="col-md-6">
             
          
            </div>
          </div>
         
         <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                &nbsp;&nbsp;
                <a href="{% url Btn_url %}" class="btn btn-primary">Back</a>
         </div>
          </form>
      </div>

    </section>
 {% endblock Content_Area %}
{% block Java_Scripts %}
 <script>
   $(document).ready(function () {

    var withdrawfees = $("#id_withdraw_fees").val();

    
    if (withdrawfees == '0E-8'){
      
      $("#id_withdraw_fees").val(0)

    }

   });
 </script>
 <script>
   $(document).ready(function () {
   
    var maker_fees = $("#id_maker_fees").val();
    var referal_fees = $("#id_referal_fees").val();
    var min_amount = $("#id_min_amount").val();

    var min_deposit = $("#id_min_deposit").val();
    var max_deposit = $("#id_max_deposi").val();
    var min_withdraw = $("#id_min_withdraw").val();
    var max_withdraw = $("#id_max_withdraw").val();
    $("#id_symbol").prop("readonly", true);
    if (maker_fees == '0E-8'){
      $("#id_maker_fees").val(0.0)
    }
    if (referal_fees == '0E-8'){
      $("#id_referal_fees").val(0.0)
    }
    if (min_amount == '0E-8'){
      $("#id_min_amount").val(0.0)
    }
    if (min_deposit == '0E-8'){
      $("#id_min_deposit").val(0.0)
    }
    if (max_deposit == '0E-8'){
      $("#id_max_deposi").val(0.0)
    }

    if (min_withdraw == '0E-8'){
      $("#id_min_withdraw").val(0.0)
    }
    if (max_withdraw == '0E-8'){
      $("#id_max_withdraw").val(0.0)
    }
   });
 </script>
 {% endblock %}

