{% extends 'default_theme/base/__base.html' %}
{% load static %} 
{% block Style_sheets %}
{% endblock Style_sheets %}
{% load widget_tweaks %}

 {% block Content_Area %}

<section class="content">
      <div class="error-page">
        <h2 class="headline text-yellow"> 403</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Access Denied You don't have permission to access.</h3>
        </div>
      </div>
    </section>



 {% endblock Content_Area %}

 {% block Java_Scripts %}

 {% endblock %}


