{% extends 'default_theme/base/__base.html' %}
{% load static %} 

{% load form_custom %}


{% block Style_sheets %}
{{ subadmin_formset.media.css }}
{% endblock Style_sheets %}
{% load widget_tweaks %}

 {% block Content_Area %}
   
    <section class="content">
      
     
     <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">{{ Title}}</h3>
          <div class="box-tools pull-right">
            {% comment %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            {% endcomment %}
          </div>
        </div>
        {% if messages %}
     {% for message in messages %}
     <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
         
         <form role="form" action="" method='post' enctype="multipart/form-data" novalidate ="novalidate">
             {% csrf_token %} 
             {{ form.media }}
       
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label >User Name   
                      <span class="text-danger"> * </span>
                    </label>
                    <input type="text" name="user_name" class="form-control" placeholder="User Name" required="" id="id_user_name">                          
                            
                     
                  </div>

                  <div class="form-group">
                    <label >Email
                      <span class="text-danger"> * </span>
                    </label>
                    <input type="text" name="email" class="form-control" placeholder="Email" required="" id="id_email">                          
                            
                     
                  </div>

                  <div class="form-group">
                    <label >Refferal Code
                      <span class="text-danger"> * </span>
                    </label>
                    <input type="text" name="ref_code" class="form-control" placeholder="Refferal Code" required="" id="id_ref_code">                          
                            
                     
                  </div>

                  <div class="form-group" id="id_show">
                    <label >Phone number   
                    </label>
                   <input type="text" id="id_phone_number" name="phone_number" class="form-control" placeholder="Phone number" >
                     
                  </div>

                  <div class="form-group">
                    <label >User Type   
                      <span class="text-danger"> * </span>
                    </label>
                    <select name="user_type" class="form-control" placeholder="User Type" required="" selected="" id="user_type">                          
                            <option value="">-------</option>
                            <option value="normaluser" >normaluser</option>                  
                            <option value="gmail" >gmail</option>      
                            <option value="IOS" >IOS</option>                              
                      </select>
                     
                  </div>

                
            </div>
           </div>
           </div>
           <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            &nbsp;&nbsp; &nbsp;&nbsp;
            <a href="tradeadmin/List_User_Management/" class="btn btn-primary" >Back</a>
     </div>
           </form>
            <div class="col-md-6">
             
           
            </div>
          </div>
           
   

     

    </section>
   


    <script>
      function wallet_select(){
        var wall_type = $("#wallet_type").val();
        if (wall_type == "Trust Wallet") {
          $("#id_show").show();
        } else {
          $("#id_show").hide();
        }
      }
    </script>



 {% endblock Content_Area %}

 {% block Java_Scripts %}

 {% endblock %}


