{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{comp_profile_name}}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static "admin_assets/bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "admin_assets/bower_components/font-awesome/css/font-awesome.min.css" %}">
  <link rel="stylesheet" href="{% static "admin_assets/bower_components/Ionicons/css/ionicons.min.css" %}">
  <link rel="stylesheet" href="{% static "admin_assets/dist/css/AdminLTE.min.css" %}">
  <link rel="stylesheet" href="{% static "admin_assets/plugins/iCheck/square/blue.css" %}">
 <link rel="stylesheet" href="{% static "admin_assets/lobibox/css/lobibox.min.css" %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a><b>{{comp_profile_name}}</b></a>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Reset Password</p>

    <form method="post"  id="idaddequity">
     {% csrf_token %}
     {% if messages %}
     {% for message in messages %}
     <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
      <div class="form-group">              
              <input type="password" name="new_password1" id="id_new_password1" placeholder="enter new password" class="form-control"> 
            </div>
            
            <div class="form-group">              
              <input type="password" name="new_password2"  id="id_new_password2" placeholder="enter new password confirm" class="form-control" >
            </div>
             <p id="password_strength" style="font-size: 15px;"></p>
            <p id="cfm" style="color: red; margin-top: 51px; font-size: 15px;"></p>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" id="okbt">Submit</button>
        </div>
        <a href="/RZqYkZRuiBaffkx/">Back to Login</a>
      </div>
    </form>


  </div>
  
</div>

<script src="{% static "admin_assets/bower_components/jquery/dist/jquery.min.js" %}"></script>

<script src="{% static "admin_assets/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

<script src="{% static "admin_assets/plugins/iCheck/icheck.min.js" %}"></script>
<script src="{% static "admin_assets/lobibox/js/lobibox.min.js" %}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' 
    });
  });
</script>
<script>
  $(document).ready(function(){
   document.addEventListener("contextmenu", function(e){
        e.preventDefault();
      }, false)
   
  });
  $(document).keydown(function (event) {
        if (event.keyCode == 123) 
        { 
            return false;
        } 
        else if(event.ctrlKey && event.shiftKey && event.keyCode == 73)
        {         
            return false;
        }
    });
</script>
<script type="text/javascript">
      window.onload = function(){
        $("#okbt").attr('disabled', true);
      }
      $(document).on('keyup', '#id_new_password1', function() {
      var txtInput = $(this).val();
      var regPass = "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})";
      var color = "Red";
      if (txtInput.length > 7) {
        if (!txtInput.match(regPass)) {
          
          $('#password_strength').html("Include a special character,at least one capital letter, one small letter, and one number");
          $("#password_strength").css("color", color);
          $("#okbt").attr('disabled', true);
          $('#id_new_password2').attr('readonly', true);


        } else {
          
          $('#id_new_password2').attr('readonly', false);
          $("#password_strength").html("");
          var npwd = $("#id_new_password1").val()
          var cfpwd = $("#id_new_password2").val()
          if(cfpwd.length > 0){
            
            if(npwd != cfpwd){

              $("#cfm").html('New password and confirm password did not match');
              $("#cfm").css("color", color);
                $("#okbt").attr('disabled', true);
            }
          }
          else{
            $('#password_strength').html("");
            $("#okbt").attr('disabled', false);
            $('#id_new_password2').attr('readonly', false);
          }
        }
      } else {
        $('#password_strength').html("Password to be a minimum of 8 characters");
        $("#password_strength").css("color", color);
        $("#okbt").attr('disabled', true);
         $('#id_new_password2').attr('readonly', true);

      }
    });

     function validate_msg(type,message){
          if (type =='success'){
            var success_text =  message;
            

            Lobibox.notify('success', {
            title:'Success',
            continueDelayOnInactiveTab: false,
            pauseDelayOnHover: true,
            sound: false,
            position: 'right top',
            msg: success_text
            });

          }

          if (type =='error'){
            var error_text = message
            Lobibox.notify('error', {
            title:'Error',
            continueDelayOnInactiveTab: false,
            pauseDelayOnHover: true,
            sound: false,
            position: 'right top',
            msg: error_text
            });



          }

        }

    function validateEquityForm(){
      var pwd = $("#id_new_password1").val()
      var cpwd = $("#id_new_password2").val()
      if(pwd.length <= 0){
         msg = 'Password Required'
        validate_msg('error',msg);
      }
      else if(cpwd.length <= 0){
         msg = 'Confirm Password Required'
        validate_msg('error',msg);
      }
      else if(pwd != cpwd){
         msg = 'Confirm Password Did Not Match'
        validate_msg('error',msg);
      }
      else{
        msg =''
        return true
      }
    }

    $('form#idaddequity').on('submit', function (e) {
      var buyform = validateEquityForm()
      if (buyform){
        return true;
      }else{
        return false;
      }

    });
    </script>
 
</body>
</html>
