{% extends 'default_theme/base/__base.html' %}
{% load static %} 

{% load form_custom %}


{% block Style_sheets %}
{{ subadmin_formset.media.css }}
{% endblock Style_sheets %}
{% load widget_tweaks %}

 {% block Content_Area %}
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
     
   	 <div class="box box-default">
        <div class="box-header with-border">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class=""><a href="/tradeadmin/profile_settings/{{request.user.id}}/" ><h3 class="box-title">Profile Settings</h3></a></li>
              <li class="active"><a href="#tab_2" data-toggle="tab"><h3 class="box-title">{{ Title}}</h3></a></li>
              <li class=""><a href="/tradeadmin/patternchange/{{request.user.id}}/" ><h3 class="box-title">Change Pattern</h3></a></li>
              <li class=""> <a href="/tradeadmin/admin2fa/" ><h3 class="box-title">TwoFactor Authentication</h3></a></li>
              
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                {% if messages %}
                {% for message in messages %}
               <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
              </div>
              {% endfor %}
              {% endif %}


         <!-- form start -->
         <form role="form" action="" method='post' enctype="multipart/form-data" novalidate ="novalidate">
             {% csrf_token %} 
             {{ form.media }}
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              
              <!-- /.form-group -->
             
               <div class="form-group">
                
                  <label >{{form.old_password.label }} 
                    {% if form.old_password|req_label  %} <span class="text-danger"> * </span>{% endif %}
                  </label>
                    {%render_field form.old_password class+="form-control" placeholder=form.old_password.label %}

                    {% if form.old_password.errors %}
                    {% for error in form.old_password.errors %}
                     <span class="text-danger">* {{ error|escape }} </span>
                    {% endfor %}
                  {% endif %}
                   
                </div>
                  <div class="form-group">
                  <label >{{form.new_password1.label}}
                    {% if form.new_password1|req_label  %} <span class="text-danger"> * </span>{% endif %}
                  </label>
                    {%render_field form.new_password1 class+="form-control" placeholder=form.new_password1.label %}
                    {% if form.new_password1.errors %}
                    {% for error in form.new_password1.errors %}
                     <span class="text-danger">* {{ error|escape }} </span>
                    {% endfor %}
                  {% endif %}
                   
                </div>
                <div class="form-group">
                  <label >{{form.new_password2.label}}
                    {% if form.new_password2|req_label  %} <span class="text-danger"> * </span>{% endif %}
                  </label>
                    {%render_field form.new_password2 class+="form-control" placeholder=form.new_password2.label %}
                    {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors %}
                     <span class="text-danger">* {{ error|escape }} </span>
                    {% endfor %}
                  {% endif %}
                   
                </div>
                <p id="password_strength"></p>
               
            </div>
            <!-- /.col -->
            <div class="col-md-6">
         
            </div>
          </div>
           <!-- /.second row -->
        <!-- /.box-body -->
         <div class="box-footer">
                <button type="submit" class="btn btn-primary" id="okbt">Submit</button>
         </div>
          </form>


              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
               
              </div>
              <!-- /.tab-pane -->
             
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
          
          <div class="box-tools pull-right">
          </div>
        </div>
     
      </div>

    </section>
    <!-- /.content -->




 {% endblock Content_Area %}

 {% block Java_Scripts %}

 {% endblock %}


