{% extends 'default_theme/base/__base.html' %}
{% load static %} 

{% load form_custom %}


{% block Style_sheets %}
{{ subadmin_formset.media.css }}
{% endblock Style_sheets %}
{% load widget_tweaks %}

 {% block Content_Area %}
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
     
   	 <div class="box box-default">
        <div class="box-header with-border">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class=""><a href="/tradeadmin/sub_admin_profile_settings/{{user.id}}/" ><h3 class="box-title">Profile Settings</h3></a></li>
              <li class=""><a href="/tradeadmin/subadmin_change_password/{{user.id}}" data-toggle="tab"><h3 class="box-title">Change Password</h3></a></li>
              <li class=""><a href="/tradeadmin/subadmin_patternchange/{{user.id}}/" ><h3 class="box-title">Change Pattern</h3></a></li>
              <li class=""><a href="/tradeadmin/subadmin_edit_permission/{{user.id}}" ><h3 class="box-title">Main Menu Permission</h3></a></li>
              <li class="active"><a href="#tab_5" ><h3 class="box-title">{{ Title }}</h3></a></li>
              <li class=""><a href="/tradeadmin/subadmin_iconmenu_edit_permission/{{user.id}}" ><h3 class="box-title">Icon Menu Permissions</h3></a></li>



            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                {% if messages %}
                {% for message in messages %}
               <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
              </div>
              {% endfor %}
              {% endif %}


         <!-- form start -->
         <form role="form" action="" method='post' enctype="multipart/form-data" novalidate ="novalidate">
             {% csrf_token %} 
             {{ form.media }}
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              
              <!-- /.form-group -->
              <div class="col-md-6">
                <h4><b>Access Module </b></h4>
                {% for item in menuqs %}
                <div class="form-group">
                  <input type="hidden" id="module_id_{{forloop.counter}}" value="{{item.id}}">
                  <input type="checkbox" id="menu_access_id_{{forloop.counter}}" name="menu_access" value="{{item.access_status}}" {% if item.access_status == 0 %}checked=""{% endif %} onclick="check_access(`{{forloop.counter}}`)">
                  <label for="menu_access_id">{{ item.sub_menu_name.sub_module_name }}</label>

                  
                </div>
                {% endfor %}

                <input type="hidden" id="menu_perm_list_id" name="menu_perm_list" value=[]>
            </div>
               
            </div>
            <!-- /.col -->
            <div class="col-md-6">
         
            </div>
          </div>
           <!-- /.second row -->
        <!-- /.box-body -->
         <div class="box-footer">
                <button type="submit" class="btn btn-primary" id="okbt" onclick="submit_click()">Submit</button>
         </div>
          </form>


              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_4">
               
              </div>
              <!-- /.tab-pane -->
             
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
          
          <div class="box-tools pull-right">
          </div>
        </div>
     
      </div>

    </section>
    <!-- /.content -->




 {% endblock Content_Area %}

 {% block Java_Scripts %}

 <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

 <script>
  function check_access(e){
    var access_check_val = $("#menu_access_id_"+e).val();
    // a = []
    if (access_check_val == 0) {
      document.getElementById('menu_access_id_'+e).value = 1;
      
    } else {
      document.getElementById('menu_access_id_'+e).value = 0;
    }
  }


  function submit_click(){
    var empty_array = []
    var array = `{{menu_qs_count}}`
    var user_id = `{{user.id}}`
    for (let index = 0; index < array; index++) {
      const element = index+1;

      var get_val = $("#menu_access_id_"+element).val();

      if (get_val != 1) {
        var get_menu_id = $("#module_id_"+element).val();
        empty_array.push(get_menu_id)
      }
      
    }
    document.getElementById("menu_perm_list_id").value = JSON.stringify({"id" : empty_array});
  }

</script>




 {% endblock %}


